/* Import MIBOM fonts */
@font-face {
  font-family: "122";
  src: url("Resources/Fonts/122.woff2") format("woff2"),
    url("Resources/Fonts/122.woff") format("woff"),
    url("Resources/Fonts/122.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aaa";
  src: url("Resources/Fonts/aaa.woff2") format("woff2"),
    url("Resources/Fonts/aaa.woff") format("woff"),
    url("Resources/Fonts/aaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.retro {
  font-family: "122", sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* Set custom cursor, background, and overflow */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  cursor: url("Resources/curs.png"), default;
}

/* Set background to black */
body {
  background: black;
}

.warntxt {
  color: #ae3337;
  font-size: clamp(1.2rem, 4vw, 2.5rem);
  margin-bottom: 2rem;
  z-index: 2;
}

.dialogue {
  color: #ae3337;
  font-size: clamp(0.8rem, 1.25vw, 1.5rem);
  position: absolute;
  max-width: 90%;
}

.character-container {
  position: absolute;
  bottom: 0;
  left: 2%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.character-container img {
  height: 80vh;
  width: auto;
  object-fit: contain;
}

.textbox-container {
  position: fixed;
  bottom: 1vh;
  right: 20vw;
  width: auto;
  height: 31vh;
  z-index: 2;
}

.textbox-container img {
  height: 100%;
  width: auto;
}

.dialogue-main {
  position: fixed;
  bottom: 15vh;
  right: 27.4%;
  max-width: 40vw;
  text-align: left;
  font-size: 1.2vw;
  line-height: 1.5;
  z-index: 3;
}

.dialogue-options {
  position: fixed;
  bottom: 3vh;
  left: 33.8vw;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  z-index: 3;
  font-size: 1.2vw;
}

.dialogue-options p.dialogue {
  margin: 0;
  padding: 0;
  position: relative;
  width: 90%;
  line-height: 1;
  display: block;
}

/* let it hang sis!!!! */
.dialogue-options p.dialogue a {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 2vh;
}

.dialogue-footer {
  position: fixed;
  bottom: 1.3vh;
  right: 22vw;
  font-size: 0.8vw;
  text-align: right;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .character-container img {
    height: 60vh;
  }
  
  .textbox-container {
    right: 10vw;
    height: 25vh;
  }
  
  .dialogue-main {
    bottom: 14vh;
    right: 15%;
    max-width: 60vw;
    font-size: 2vw;
  }
  
  .dialogue-options {
    bottom: 5vh;
    left: 25vw;
    font-size: 2vw;
    gap: 1vh;
  }
  
  .dialogue-footer {
    bottom: 1vh;
    right: 12vw;
    font-size: 1.5vw;
  }
}

.background-animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 0 0;
  animation: moveBackground 8s ease-in-out infinite alternate;
  z-index: 1;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.laptop {
  position: absolute;
  z-index: 3;
  left: 38%;
  bottom: 38.4%;
  width: 134px;
  height: 94px;
}

.laptop-area {
  position: absolute;
  left: 38%;
  bottom: 38.7%;
  width: 7%;
  height: 10.3%;
  z-index: 3;
  pointer-events: auto;
}

.laptop-hover {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.laptop-area:hover .laptop-hover {
  opacity: 1;
}

.details {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: none;
}

/*
Text, but in details.

Do we really need this? Probably not. Am I smart enough to figure out how to make it work with the base details class? No.
*/
.details-text {
  color: #ae3337;
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: pre-line;
}

#toggleButton {
  background-color: transparent;
  background-image: url('Resources/Buttons/frame.png');
  background-size: cover;
  position: absolute;
  width: 12%;
  height: 7%;
  color: #ae3337;
  font-size: 1.23vw;
  cursor: url("Resources/curs.png"), pointer;
  justify-content: center;
  align-items: center;
  z-index: 4;
  border: none; /* Added to remove any default border */
}

a:link { 
  text-decoration: none;
  color: #572841;
} 
a:visited { 
  text-decoration: none;
  color: #572841;
} 
a:hover { 
  text-decoration: none;
  color: #ae3337;
} 
a:active { 
  text-decoration: none;
  color: #572841; 
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -45px -45px;
  }
}

.blink {
  animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
  60% {
      color:rgb(0, 0, 0);
  }
 }
